body {
    font-family: Arial, sans-serif;
    background-color: #97f17b;
    margin: 0;
    padding: 100px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(245, 1, 151);
}

h1 {
    color: #082cfa;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #f00c0c;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #0e4aee;
    border-radius: 3px;
}

select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #f3099980;
    border-radius: 3px;
    color: #4f05fd;
}

.select-label {
    margin-top: 20px;
}
